<% if (header !== "home") {%>
<div
  class="container-fluid p-0 bg-black d-flex flex-column align-items-center justify-content-center header_img_articulo"
  style="background-image: url('../img/bd_img/<%=article.image%>')"
>
  <% } else { %>
  <div
    class="container-fluid p-0 bg-black d-flex flex-column align-items-center justify-content-center header_img"
  >
    <%}%>
  </div>
  <div
    class="d-flex flex-column align-items-center justify-content-center header_title_article text-center"
  >
    <div>
      <% if (header === "home") { %>
      <h1 id="head_title" class="text-white">Hack the blog</h1>
      <% } else { %>
      <h2 id="head_article" class="text-white"><%= article.title %></h2>
      <% } %>
    </div>
    <div>
      <h3 class="publish_article_title text-white">
        <% if (header === "home") { %> El blog de hack academy <% } else if (article.user) { %>
      </h3>
      <h3 class="publish_article_title text-white">
        Created By <%= article.user.firstname %> <%= article.user.lastname %>
      </h3>
      <h3 class="publish_article_title text-white"><%= article.createdAgo %> ago</h3>
    </div>
    <% } %>
  </div>
</div>
